<% include partials/header %>

<% include partials/navbar %>

<main class="container p-3">
    <header class="jumbotron">
        <section class="text-center">
            <h1>Welcome to KelpCamp</h1>
            <p>The #1 site for campgrounds</p>
            <p>
                <a class="btn btn-primary btn-md" href="/campgrounds/new/">Add a new campground</a>
            </p>
        </section>
    </header>
    <section class="row">
            <% campgrounds.map(campground => { %>
                <section class="col-sm-6 col-lg-4">
                    <section class="card p-1 text-center">
                        <img src="<%= campground.image %>" alt="Campground Image" class="card-img-top img-fluid">
                        <section class="card-body">
                            <h3 class="card-title"><%= campground.name %></h3>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More Info</a>
                        </section>
                    </section>
                </section>
            <% }) %>
    </section>
</main>

<% include partials/footer %>
