<% include partials/header %>

<main class="container text-center p-3">
<h1 >Landing page goes here</h1>
<p>Welcome to KelpCamp!</p>

<a href="/campgrounds" class="btn btn-primary btn-md">View campgrounds page</a>
</main>
<% include partials/footer %>