<% include partials/header %>

<% include partials/navbar %>
<a href="/campgrounds" class="btn btn-secondary btn-sm m-3">Go back</a>
<main class="container col-10 col-md-7 col-lg-5 p-3">
    <h1 class="text-center pb-4">Add a new campground</h1>

    <form action="/campgrounds" method="POST">
        <section class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" aria-placeholder="enter name" placeholder="enter name" name="name" class="form-control">
        </section>

        <section class="form-group">
            <label for="image">Image Url:</label>
            <input id="image" type="text" aria-placeholder="enter image url " placeholder="enter image url" name="image" class="form-control">
        </section>

        <section class="form-group">
            <label for="description">Description:</label>
            <input id="description" type="text" aria-placeholder="enter a description" placeholder="enter a description" name="description" class="form-control">
        </section>
        
        <section class="d-flex flex-column">
            <button class="btn btn-primary">Submit</button>
        </section>
    </form>
</main>

<% include partials/footer %>
