nav {
    .navbar-toggler {
        border: none;
    }
}

#show-page {
    li#comments {
        background-color:rgb(247, 247, 249);
    }
}

#new-comment-form {
        background-color: rgb(247, 247, 249);
}
