nav {
    .navbar-toggler {
        border: none;
    }
}

#show-page {
    li#comments {
        background-color:rgb(247, 247, 249);
    }
}

#new-comment-form {
        background-color: rgb(247, 247, 249);
}

#edit-comment-form {
    box-shadow: 0px 1px 11px -3px rgba(231,166,26,1);
}

#edit-campground {
    box-shadow: 0px 1px 11px -3px rgba(231,166,26,1);
}